// =============================================================================
// Setup
// =============================================================================

:root {
  font-size: 14px;
  line-height: 1;
}


// =============================================================================
// Headings
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  color: $c-brand-secondary;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
}


// =============================================================================
// Body
// =============================================================================

p {
  line-height: 1.5;
}